---
# Only the main Sass file needs front matter (the dashes are enough)
---
body {
  padding-top: 90px;
}

/* Rating Indicators */
.fa-yes {
  color: #32cd32;
}
.fa-sorta {
  color: #ffc40c;
}
.fa-no {
  color: #fa342e;
}
