---
layout: project
title: State Agency Inventory
---
<div ng-app="opencaApp" ng-controller="DeptDataCtrl">

<!-- Call to action -->
<div class="jumbotron">
  <h2>How open is State of California agency data?</h2>
  <p>We're crowdsourcing the status of state agency open data practices.</p>
  <p>
    <a class="btn btn-lg btn-success" href="https://github.com/caciviclab/caciviclab.github.io" role="button"><i class="fa fa-github"></i></li> Contribute to the project</a>
    <a class="btn btn-lg btn-primary" href="https://github.com/caciviclab/caciviclab.github.io/issues" role="button"><i class="fa fa-bullhorn"></i></li> Open an issue</a>
  </p>
</div>

<!-- Legend -->
<div class="row panel panel-default panel-body">
  <div class="col-sm-4">
    <h4>Ratings</h4>
    <p><i class="fa fa-circle fa-yes"></i> = Yes</p>
    <p><i class="fa fa-circle fa-sorta"></i> = Room for improvement</p>
    <p><i class="fa fa-circle fa-no"></i> = No</p>
    <p><i class="fa fa-circle fa-null"></i> = Unreported</p>
  </div>
  <div class="col-sm-8">
    <h4>Definitions</h4>
    <p><strong>Publisher</strong>: Does the department publish data?</p>
    <p><strong>Structured</strong>: Is the data structured? Structured formats include those that can be opened in spreadsheets or databases. Hint: PDF is <strong>not</strong> a structured format.
    <p><strong>Portal</strong>: Does the department have an open portal that intuitively organizes its different datasets? Does the portal include rich metadata that make the dataset meaningful to developers?</p>
    <p><strong>API</strong>: Does the portal allow developers to consume data via an application programming interface (API)?</p>
  </div>
</div>

<!-- Search box -->
<div class="row col-md-12">
  <h3>Search for an agency:</h3>
</div>

<div class="row col-md-6">
  <div class="form-group">
    <input ng-model="query" class="form-control input-lg" id="inputLarge" placeholder="e.g., transportation" type="text">
  </div>
</div>

<!-- Data table -->
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Department</th>
      <th>Publisher?</th>
      <th>Structured?</th>
      <th>Portal?</th>
      <th>API?</th>
    </tr>
  </thead>
  <tbody>
    {% comment %}`raw` is needed for angular curl brace expressions {% endcomment %}
    {% raw %}
    <tr ng-repeat="dept in departments | filter: query">
      <td width="60%"><a href="{{dept.url}}">{{dept.name}}</a></td>
      <td width="10%"><i class="fa fa-circle fa-{{dept.publish}}"></i></li></td>
      <td width="10%"><i class="fa fa-circle fa-{{dept.structure}}"></i></li></td>
      <td width="10%"><i class="fa fa-circle fa-{{dept.portal}}"></i></li></td>
      <td width="10%"><i class="fa fa-circle fa-{{dept.api}}"></i></li></td>
    </tr>
    {% endraw %}
  </tbody>
</table>

</div>
